.cienporcierto{
  width: 100%;
  justify-content: center;
}
#labelbusqueda {
  text-align-last: center;
  padding-top: 0.5rem;
  font-size: medium;
}
.texto-blanco {
  color: white;
}
.texto-rojo {
  color: red;
}
.texto-botones {
  color: #17a2b8;
}
.texto-excel {
  color: #20C997;
}

.separador{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.separadorlf{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.separador-top{
  padding-top: 1rem;
}
.separador-botton{
  padding-bottom: 1rem;
}
.negrilla {
  font-weight: bold;
}
.btn-refinamiento {
  border: lightseagreen 1px solid;
  color: lightseagreen;
}
.btn-refinamiento:hover {
  background: lightseagreen;
  color: white;
}
.btn-sea {
  color: lightseagreen;
  font-size: 1rem;
}
.boton-limpio {
  border: none;
  background: none;
}
