<div class="container">
  <!--  titulo gestion -->
  <div class="row separador">
    <div class="col-sm-12">
      <h1 style="text-align: center">Gestión de Proyectos</h1>
    </div>
  </div>
  <!--  crear/buscar-->
  <div class="row separador-botton">
    <div class="col-sm-2">
      <!--<button class="btn btn-block btn-info" (click)="abrirModalCrear()" type="button">Crear</button>-->
      <button class="btn texto-blanco cienporcierto btn-info" (click)="abrirModalCrear()" type="button">Crear</button>
    </div>
    <div class="col-sm-10">
      <form [formGroup]="formularioBuscarProyecto" novalidate>
        <div class="row">
          <div class="col-sm-2" id="labelbusqueda">
            <label for="terminoBusqueda">Buscar: </label>
          </div>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="terminoBusqueda"
              [formControlName]="'terminoBusqueda'"
              placeholder="Ingrese su término de búsqueda">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  tabla-->
  <div class="row separador-top">
    <div class="col-sm-12">
      <p-table [responsive]="true" [value]="proyectos"
               [paginator]="true"
               [lazy]="true"
               (onLazyLoad)="cargarMasDatos($event)"
               [totalRecords]="total"
               [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" *ngFor="let col of cols">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proyectoFila>
          <tr>
            <td *ngFor="let col of cols">
              <div class="text-center" *ngIf="col.field === 'idProyecto'">
                {{proyectoFila[col.field]}}
              </div>
              <div *ngIf="col.field === 'nombre'">

                {{proyectoFila[col.field]}}
              </div>
              <div *ngIf="col.field === 'descripcion'">
                {{proyectoFila[col.field] ? proyectoFila[col.field] : 'Ninguna'}}
              </div>
              <div *ngIf="col.field === 'proyecto'">
                <p><b>Estado:</b> {{proyectoFila['estado'] | ldestadoproyecto }}</p>

                <p><b>Tipo de Proyecto:</b> {{proyectoFila['tipoProyecto'] | ldtiproyecto}}</p>
                <small *ngIf="proyectoFila['duplicado']">Es un proyecto duplicado</small>
              </div>
              <div class="cienporcierto" *ngIf="col.field === 'id'">
                <button
                  (click)="abrirModalEditar(proyectoFila)"
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar">
                  <i class="fa fa-pen texto-botones" aria-hidden="true"></i>
                </button>
                <button
                  (click)="abrirModalDuplicar(proyectoFila)"
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Duplicar Proyecto">
                  <i class="fa fa-clone texto-botones" aria-hidden="true"></i>
                </button>
                <button
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Refinamiento">
                  <i class="fa fa-gears texto-botones" aria-hidden="true"></i>
                </button>
                <button
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Gestionar Proyectos">
                  <i class="fa fa-people-group texto-botones" aria-hidden="true"></i>
                </button>
                <button
                  (click)="abrirModalEliminar(proyectoFila)"
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar">
                  <i class="fa fa-trash texto-rojo" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="proyectoFila['estado']==='F'"
                  class="btn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Descargar Resultados">
                  <i class="fa fa-file-excel texto-excel" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="cols.length">
              No existe resultados
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>

