<h1 mat-dialog-title class="text-center">{{usuarioCrearEditar | ldtitulomodal }}</h1>
<div mat-dialog-content>
  <app-crear-editar-usuario (usuarioACrearOEditar)="recibirUsuario($event)" (habilitarBotonSubmit)="habilitarBoton($event)" [usuarioEditar]="usuarioCrearEditar"></app-crear-editar-usuario>
</div>
<div class="row justify-content-end" mat-dialog-actions>
    <button class="btn btn-outline-dark" (click)="cancelarModal()">Cancelar</button>
    <div style="padding-right: 1rem"></div>
    <button class="btn btn-info" [disabled]="!habilitarBotonSubmit" (click)="enviarDatos()">Aceptar</button>
</div>
