.footer {
  position: relative;
  display: block;
  text-align: center;
  color: white;
  font-size: medium;
  background-color: black;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

