<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="requerimientosClonados"
      [columns]="cols"
      [responsive]="true"
      styleClass="mt-3">
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Identificador</th>
          <th class="text-center">Descripción</th>
          <th pSortableColumn="esValido">Es Válido
            <p-sortIcon field="esValido"></p-sortIcon>
          </th>
          <th class="text-center">Características Cumplidas</th>
          <th class="text-center">Observaciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-requerimientoFila>
        <tr>
          <td class="text-center" *ngFor="let col of cols">
            <div *ngIf="col==='observaciones'">
              {{requerimientoFila[col.field] ? requerimientoFila[col.field] : 'Ninguna'}}
            </div>
            {{requerimientoFila[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">
            No existe resultados
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-outline-dark">Finalizar</button>
  </div>
</div>



