<p-confirmDialog></p-confirmDialog>
<div>
  <div>
    <mat-grid-list cols="5" rowHeight="30px" >
      <div  *ngFor="let tile of tiles" id='{{tile.id}}' >
        <mat-grid-tile
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color" (click)="seleccionar(tile)">
          {{tile.nombre}}
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>

  <small class="text-center"><i>Haga doble click sobre el bloque para eliminarlo</i></small>

  <div class="contenido">
    <div id="bloq">

    </div>
  </div>

</div>

