<app-migaspan [conjuntoMigas]="migasPan"></app-migaspan>
<div class="container manualusuario">
  <div >
    <div class="playYt"><h2  align="center">Sign up and enter the system</h2></div>
    <div class="justify-content-center contenedor">
      <youtube-player
        videoId="LtEkN9cQTCw"
        suggestedQuality="highres"
        [height]="400"
        [width]="800"
        >
      </youtube-player>
    </div>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div >
    <div class="playYt"><h2  align="center">Registration and login</h2></div>
    <div class="row justify-content-center contenedor">
      <youtube-player
        videoId="dQw4w9WgXcQ"
        suggestedQuality="highres"
        [height]="400"
        [width]="800"
        [startSeconds]="43"
        [endSeconds]="60">
      </youtube-player>
    </div>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<app-graficos-chart></app-graficos-chart>
