<app-migaspan [conjuntoMigas]="migasPan"></app-migaspan>
<div class="container manualusuario">
  <div >
    <div class="playYt"><h2  align="left">Sign up and enter the system</h2></div>
    <div class="contenedor">
      <youtube-player
        videoId="LtEkN9cQTCw"
        suggestedQuality="highres"
        [height]="300"
        [width]="600"
        >
      </youtube-player>
    </div>
  </div>
  <div >
    <div class="playYt"><h2  align="right">How to add general requirements through a template?</h2></div>
    <div class="row justify-content-center contenedor">
      <youtube-player
        videoId="gDkz8OeB5qg"
        suggestedQuality="highres"
        [height]="300"
        [width]="600"
        >
      </youtube-player>
    </div>
  </div>
  <div >
    <div class="playYt"><h2  align="left">How to add iPlus requirements through a template?</h2></div>
    <div class="row justify-content-center contenedor">
      <youtube-player
        videoId="4vcn14yqKBU"
        suggestedQuality="highres"
        [height]="300"
        [width]="600"
      >
      </youtube-player>
    </div>
  </div>
</div>



