<app-menu></app-menu>
<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item active">Aplicación</li>
    </ol>
  </div>
</div>
<div class="container aplicacion">
  <toaster-container></toaster-container>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <a href="#" [routerLink]="['/nuevoproyecto']">
        <app-tarjeta-modulo [nombreModulo]="'Nuevo Proyecto'" [descripcion]="'Crea un Nuevo Proyecto'" [nombreImagenModulo]="'nuevo-proyecto.png'" ></app-tarjeta-modulo>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" [routerLink]="['/proyectos']">
        <app-tarjeta-modulo [nombreModulo]="'Proyectos'" [descripcion]="'Gestione los proyectos que posee'" [nombreImagenModulo]="'proyecto.png'" ></app-tarjeta-modulo>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" [routerLink]="['/participantes']">
        <app-tarjeta-modulo [nombreModulo]="'Participantes'" [descripcion]="'Gestione los participantes de sus proyectos'" [nombreImagenModulo]="'participantes.png'" ></app-tarjeta-modulo>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
