<h1 mat-dialog-title class="text-center">Cambiar Contraseña</h1>
<div mat-dialog-content>
  <form [formGroup]="cambiarContrasenaFormulario" (ngSubmit)="enviarDatos()" novalidate>
    <div class="row">
      <label for="contrasena">Contraseña</label>
      <input
        type="text"
        class="form-control"
        id="contrasena"
        aria-describedby="contrasenalHelp"
        [formControlName]="'contrasena'"
        placeholder="Ingrese contrasena">
      <small id="contrasenaHelp" class="form-text text-muted">Ingrese contraseña</small>
      <div *ngIf="arregloMensajesErrorCampoContrasena.length > 0" class="alert alert-info" role="alert">
        <div *ngFor="let mensajeError of arregloMensajesErrorCampoContrasena">
          <div>{{mensajeError}}</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row justify-content-end" mat-dialog-actions>
    <button class="btn btn-outline-dark" (click)="cancelarModal()">Cancelar</button>
    <div style="padding-right: 1rem"></div>
    <button class="btn btn-info" [disabled]="!formularioValido" (click)="enviarDatos()">Aceptar</button>
</div>
