<h1 mat-dialog-title class="text-center">CHANGE PASSWORD</h1>
<div mat-dialog-content>
  <form [formGroup]="cambiarContrasenaFormulario" (ngSubmit)="enviarDatos()" novalidate>
    <div class="row">
      <label for="contrasena">Password</label>
      <input
        type="password"
        class="form-control"
        id="contrasena"
        aria-describedby="contrasenalHelp"
        [formControlName]="'contrasena'">
      <small id="contrasenaHelp" class="form-text text-muted">Enter your new password</small>
      <div *ngIf="arregloMensajesErrorCampoContrasena.length > 0" class="alert alert-warning" role="alert">
        <div *ngFor="let mensajeError of arregloMensajesErrorCampoContrasena">
          <small>{{mensajeError}}</small>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="justify-content-end">
    <button class="btn btn-outline-dark" (click)="cancelarModal()">Cancel</button>
    <div style="padding-right: 1rem"></div>
    <button class="btn btn-info text-white" [disabled]="!formularioValido" (click)="enviarDatos()">Accept</button>
</div>
