<div class="container">
  <button class="btn"  (click)="downloadAsPDF()">Export To PDF</button>
  <div id="reporte" #reporte>
    <h1 align="center">Result</h1>
    <div class="row  justify-content-center">
      <h2 align="center">Total requirements</h2>
      <div class="col-sm-8 divChart"><canvas id="myPie" ></canvas></div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-sm-10 divChart">
        <h2>Essential requirement </h2>
        <canvas id="myChart" ></canvas>
      </div>
      <div class="col-sm-10 divChart">
        <h2>Desirable requirements</h2>
        <canvas id="myChart2" ></canvas>
      </div>
    </div>
    <div id="tablas" #tablas>
      <h2 align="center">Table result</h2>
      <div id="Cliente" #Cliente>
        <div class="row">
          <div class="col-sm-12">
            <p-table id="tabCli" #tabCli
              [value]="requerimientosCliente"
              [columns]="cols"
              [responsive]="true"
              styleClass="mt-3">
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  <p class="text-center">Client Requirements</p>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">Identifier</th>
                  <th class="text-center">Description</th>
                  <th pSortableColumn="esValido">Is Valid
                    <p-sortIcon field="esValido"></p-sortIcon>
                  </th>
                  <th class="text-center">Fulfilled properties</th>
                  <th class="text-center">Observations</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-requerimientoFila>
                <tr>
                  <td *ngFor="let col of cols">
                    <div *ngIf="col.field ==='observaciones'">
                      {{requerimientoFila[col.field] ? requerimientoFila[col.field] : 'None'}}
                      <p><b>Necessary requirements fulfilled:</b>  {{requerimientoFila.necesarios ? requerimientoFila.necesarios : 'None'}}</p>
                      <p><b>Non necessary requirements fulfilled:</b>  {{requerimientoFila.noNecesarios ? requerimientoFila.noNecesarios : 'None'}}</p>
                      <p><b>Desirable requirements fulfilled:</b>  {{requerimientoFila.deseables ? requerimientoFila.deseables : 'None'}}</p>
                      <p><b>Non desirable requirements fulfilled:</b>  {{requerimientoFila.noDeseables ? requerimientoFila.noDeseables : 'None'}}</p>
                    </div>
                    <div class="text-center" *ngIf="col.field !=='observaciones'">
                      {{requerimientoFila[col.field]}}
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="cols.length">
                    No results
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div id="GamePlay" #GamePlay >
        <div class="row">
          <div class="col-sm-12">
            <p-table
              [value]="requerimientosGamePlay"
              [columns]="cols"
              [responsive]="true"
              styleClass="mt-3">
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  <p class="text-center">GamePlay Requirements</p>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">Identifier</th>
                  <th class="text-center">Description</th>
                  <th pSortableColumn="esValido">Is Valid
                    <p-sortIcon field="esValido"></p-sortIcon>
                  </th>
                  <th class="text-center">Fulfilled properties</th>
                  <th class="text-center">Observations</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-requerimientoFila>
                <tr>
                  <td class="text-center" *ngFor="let col of cols">
                    <div style="white-space: pre-line; word-break:break-all;" *ngIf="col==='observaciones'">
                      {{requerimientoFila[col.field]}}
                      <p>Requerimientos necesarios cumplidos: {{requerimientoFila.necesarios ? requerimientoFila.necesarios: 'None'}}</p>
                    </div>
                    {{requerimientoFila[col.field]}}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="cols.length">
                    No results
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

