<div class="container">
  <h1 align="center">Result</h1>
  <div class="row  justify-content-center">
    <h2 align="center">Total requirements</h2>
    <div class="col-sm-8 divChart"><canvas id="myPie" ></canvas></div>
  </div>
  <div class="row  justify-content-center">
    <div class="col-sm-10 divChart">
      <h2>Essential requirement </h2>
      <canvas id="myChart" ></canvas>
    </div>
    <div class="col-sm-10 divChart">
      <h2>Desirable requirements</h2>
      <canvas id="myChart2" ></canvas>
    </div>
  </div>
  <div>
    <h2 align="center">Table result</h2>

  </div>

</div>

