.centrarlabel {
  text-align-last: initial;
  padding-top: 0.5rem;
}

.separador {
  margin-bottom: 1rem;
}

.boton-examinar {
  background: lightseagreen;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}
.nombre-archivo{
  text-align: left;
  padding-top: 0.5rem;
}
