<form [formGroup]="formularioProyecto" (ngSubmit)="enviarFormularioProyecto()" novalidate>
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-4">
      <label  class="boton-examinar" for="file-upload">Choose a file
        <input hidden id="file-upload" type="file" (change)="onFileChange($event)"/>
      </label>
    </div>
    <div class="col-8">
      <p class="nombre-archivo">{{nombreArchivo}}</p>
    </div>
  </div>
  <div class="row separador">
    <div class="col-sm-4 centrarlabel">
      <label>Project type</label>
    </div>
    <div class="col-sm-8">
      <p-dropdown
        id="tipoProyecto"
        [formControlName]="'tipoProyecto'"
        [options]="tiposProyecto"
        optionLabel="nombre"
        [disabled]="true"
        [(ngModel)]="tipoProyectoSeleccionado"
      ></p-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 centrarlabel">
      <label for="nombre">Project name</label>
    </div>
    <div class="col-sm-8">
      <input
        readonly
        type="text"
        class="form-control"
        id="nombre"
        aria-describedby="nombrelHelp"
        [formControlName]="'nombre'">
    </div>
  </div>
  <div class="row" style="margin-top: 1rem">
    <div class="col-sm-4 centrarlabel">
      <label for="descripcion">Project description</label>
    </div>
    <div class="col-sm-8">
      <input
        readonly
        type="text"
        class="form-control"
        id="descripcion"
        aria-describedby="descripcionlHelp"
        [formControlName]="'descripcion'">
    </div>
  </div>
  <div class="row justify-content-start" style="margin-top: 1.5rem; margin-left: 0.1rem;">
    Uploaded requirements: {{nroReqCargados}}
  </div>
</form>
