<form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormularioUsuario()" novalidate>
  <!--<div class="row">
    <mat-form-field>
      <mat-label>Selecciona el rol del usuario</mat-label>
      <mat-select [formControlName]="'rol'" class="form-control">
        <mat-option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="arregloMensajesErrorCampoRol.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoRol">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <label for="cedula">Cedula</label>
    <input
      type="text"
      class="form-control"
      id="cedula"
      aria-describedby="cedulalHelp"
      [formControlName]="'cedula'"
      placeholder="Ingrese cedula">
    <small id="cedulaHelp" class="form-text text-muted">Ingrese cedula</small>
    <div *ngIf="arregloMensajesErrorCampoCedula.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoCedula">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      aria-describedby="nombrelHelp"
      [formControlName]="'nombre'"
      placeholder="Ingrese nombre">
    <small id="nombreHelp" class="form-text text-muted">Ingrese nombre</small>
    <div *ngIf="arregloMensajesErrorCampoNombre.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoNombre">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="apellido">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="apellido"
      aria-describedby="apellidolHelp"
      [formControlName]="'apellido'"
      placeholder="Ingrese apellido">
    <small id="apellidoHelp" class="form-text text-muted">Ingrese apellido</small>
    <div *ngIf="arregloMensajesErrorCampoApellido.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoApellido">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="direccion">Dirección domiciliaria</label>
    <input
      type="text"
      class="form-control"
      id="direccion"
      aria-describedby="direccionlHelp"
      [formControlName]="'direccion'"
      placeholder="Ingrese direccion">
    <small id="direccionHelp" class="form-text text-muted">Ingrese direccion</small>
    <div *ngIf="arregloMensajesErrorCampoDireccion.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoDireccion">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="celular">Teléfono celular</label>
    <input type="text"
           [formControlName]="'telefono'"
           class="form-control"
           id="celular"
           aria-describedby="celularHelp"
           placeholder="Ingrese celular">
<!--           [textMask]="mascaraCelular"-->

    <small id="celularHelp" class="form-text text-muted">Ingrese celular</small>
    <div *ngIf="arregloMensajesErrorCampoCelular.length > 0" class="alert alert-info" role="alert">
      <div *ngFor="let mensajeError of arregloMensajesErrorCampoCelular">
        <div>{{mensajeError}}</div>
      </div>
    </div>
  </div>
</form>
