
<app-migaspan [conjuntoMigas]="migasPan"></app-migaspan>
<div class="container metodologia">
 <h1 align="center">Methodology</h1>
  <div class="row justify-content-center"  >

    <div class="col-sm-6">
      The objective of this web application is to validate software requirements,
      through characteristics that result in a well-formed requirement.
      These characteristics are obtained through the study of standards and norms
      for the formulation of software requirements and the use of the
      <a href="http://criteria-checker.epn.edu.ec/" target="_blank">KEY CRITERIA INFERRER</a>  tool.
    </div>
    <div align="center">
      <img align="center" src="./assets/imagenes/paraguas.png">
    </div>

  </div>
 <div>
   <h2 align="center"> Result of study of standards and norms</h2>
   <p-table [value]="standars"responsiveLayout="scroll">
     <ng-template pTemplate="header" >
       <tr>
         <th>Standards\Characteristics</th>
         <th>Year</th>
         <th>Necessary</th>
         <th>Appropriate</th>
         <th>Unambiguos</th>
         <th>Complete</th>
         <th>Singular</th>
         <th>Feasible</th>
         <th>Verifiable</th>
         <th>Correct</th>
         <th>According</th>
         <th>Traceable</th>
         <th>Consistent</th>
         <th>Modifiable</th>
       </tr>
     </ng-template>
     <ng-template pTemplate="body"let-standar >
       <tr>
         <td>{{standar.name}}</td>
         <td>{{standar.year}}</td>
         <td>{{standar.Necessary}}</td>
         <td>{{standar.Appropriate}}</td>
         <td>{{standar.Unambiguos}}</td>
         <td>{{standar.Complete}}</td>
         <td>{{standar.Singular}}</td>
         <td>{{standar.Feasible}}</td>
         <td>{{standar.Verifiable}}</td>
         <td>{{standar.Correct}}</td>
         <td>{{standar.According}}</td>
         <td>{{standar.Traceable}}</td>
         <td>{{standar.Consistent}}</td>
         <td>{{standar.Modifiable}}</td>
       </tr>

     </ng-template>
   </p-table>
 </div>
  <div class="row justify-content-center">
    <h2 align="center"> Result of using the KEY CRITERIA INFERRER tool.</h2>
    <div class="col-sm-3">
      <p-table [value]="necesaryCond" >
        <ng-template pTemplate="header" >
          <tr>
            <th>Necessary and not sufficient condition</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary>
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <div class="col-sm-3">
      <p-table [value]="noNecesary">
        <ng-template pTemplate="header" >
          <tr>
            <th>Not necessary and not sufficient condition</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary >
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <div class="col-sm-3">
      <p-table [value]="none">
        <ng-template pTemplate="header" >
          <tr>
            <th>None</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary>
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2 align="center"> Final classification of characteristics of a well-formed requirement.</h2>
    <div class="col-sm-3">
      <p-table [value]="necesaryCond" >
        <ng-template pTemplate="header" >
          <tr>
            <th>Indispensable properties </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary>
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <div class="col-sm-3">
      <p-table [value]="noNecesary">
        <ng-template pTemplate="header" >
          <tr>
            <th>Desirable properties </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary >
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <div class="col-sm-3">
      <p-table [value]="none">
        <ng-template pTemplate="header" >
          <tr>
            <th>Implementation property </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-necessary>
          <tr>
            <td>{{necessary}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2 align="center">Dictionary of terms</h2>
    <div class="col-sm-8 ">
      <p-table [value]="characteristic">
        <ng-template pTemplate="header" >
          <tr>
            <th>Characteristic</th>
            <th>Definition</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-character>
          <tr>
            <td>{{character.name}}</td>
            <td>{{character.definition}}</td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>
</div>
