<div class="col d-flex justify-content-center">
  <div class="card text-center" style="width: 30vw; height: 100%; line-height: 5vh; margin-top: 15vh">
    <div class="card-header">
      <img
        width="50%"
        src="https://economia.epn.edu.ec/images/img/150.png">
    </div>
    <div class="card-body">
      <form [formGroup]="formularioLogin" novalidate>
        <h2>Inicio de Sesión</h2>
        <div style="padding-top: 1.8rem"></div>
        <span class="p-float-label">
          <input
            style="width: 100%"
            id="nombreUsuario"
            type="text"
            aria-describedby="nombreUsuarioHelp"
            [formControlName]="'nombreUsuario'"
            pInputText>
          <label for="nombreUsuario">Nombre de Usuario</label>
        </span>
        <div style="padding-top: 1.8rem"></div>
        <span class="p-float-label">
          <input
            style="width: 100%"
            id="contrasenia"
            type="password"
            aria-describedby="contraseniaHelp"
            [formControlName]="'contrasenia'"
            pInputText >
          <label for="contrasenia">Contraseña</label>
        </span>
        <div *ngIf="errorIniciarSesion">
          <p class="text-danger">¡El usuario o la contraseña son incorrectos!</p>
        </div>
        <div style="padding-top: 1rem"></div>
        <div>
          <button style="width: 100%" class="btn btn-login" [disabled]="!formularioValido" (click)="enviarFormularioLogin()">Ingresar</button>
          <p>¿No tienes una cuenta? <a [routerLink]="'/registro'">Regístrate</a></p>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a [routerLink]="'/recuperar-contrasena'">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>
