<p>tabla-req-bloque works!</p>
<table class="default">

  <tr>

    <th>OPCIONES</th>
    <th>ID</th>
    <th>ROL</th>
    <th>PADRE</th>
    <th>TÍTULO</th>
    <th>PRIORIDAD</th>
    <th>DESCRIPCION</th>

  </tr>
  <tr>
    <td>
      <button>
        Seleccionar
      </button>
    </td>
    <td>
      R01
    </td>
    <td>
      Rol 01
    </td>
    <td>
      padre 01
    </td>
    <td>
      titulo 01
    </td>
    <td>
      alta
    </td>
    <td>
      descripcion 1
    </td>
  </tr>
</table>
