<p>tabla-req-bloque works!</p>
<table>

  <tr>
    <th>OPCIONES</th>
    <th>ID</th>
    <th>ROL</th>
    <th>PADRE</th>
    <th>TÍTULO</th>
    <th>PRIORIDAD</th>
    <th>DESCRIPCION</th>
    <th>IDEAS</th>

  </tr>
  <tr *ngFor="let dato of datos">
    <td>
      <button>
        Seleccionar
      </button>
    </td>
    <td>{{dato.id}}</td>
    <td>{{dato.rol}}</td>
    <td>{{dato.padre}}</td>
    <td>{{dato.titulo}}</td>
    <td>{{dato.prioridad}}</td>
    <td>{{dato.descripcion}}</td>
    <td *ngFor="let pos of dato.postit">
      <p *ngFor="let obj of pos">{{obj.contenido}}<br></p>
        </td>
  </tr>
</table>
