<div [hidden]="bandera">
<div id="mensajeInfo" class="emergente msg-e" (click)="mostrarMensajeEmergente()">
  <p> <i class="fa fa-lightbulb btn-c"></i> Click on the GamePlay tab to complete the stage</p>
</div>
<div id="btnInfo" class="emergente" (click)="mostrarMensajeEmergente()" style="display: none" >
  <i class="fa fa-lightbulb btn-c btn-e"></i>
</div>
</div>
<div id="bar">
  <section class="example-section">
    <mat-progress-bar
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="valor"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>
</div>
<mat-tab-group animationDuration="0ms" mat-align-tabs="center" (selectedIndexChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Cliente">
      <app-metodo-grafico-cliente [idProyecto]="idProyecto" [datosCliente]="datosCliente"></app-metodo-grafico-cliente>
    </mat-tab>
    <mat-tab label="GamePlay" [disabled]="bandera" >
      <app-metodo-grafico-juego [idProyecto]="idProyecto" [datosBloque]="datosBloque"></app-metodo-grafico-juego>
    </mat-tab>
</mat-tab-group>


