<form [formGroup]="formularioParticipante" (ngSubmit)="enviarFormularioParticipante()" novalidate>
  <div class="row">
    <div class="col-sm-2 centrarlabel">
      <label for="nombre">Nombre</label>
    </div>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="nombre"
        aria-describedby="nombrelHelp"
        [formControlName]="'nombre'"
        placeholder="Ej. Juan">
      <small id="nombreHelp" class="form-text text-muted">Ingrese el nombre del participante</small>
      <div *ngIf="arregloMensajesErrorCampoNombre.length > 0" class="alert alert-info" role="alert">
        <div *ngFor="let mensajeError of arregloMensajesErrorCampoNombre">
          <div>{{mensajeError}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 centrarlabel">
      <label for="apellido">Apellido</label>
    </div>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="apellido"
        aria-describedby="apellidolHelp"
        [formControlName]="'apellido'"
        placeholder="Ej. Perez">
      <small id="apellidoHelp" class="form-text text-muted">Ingrese el apellido del participante</small>
      <div *ngIf="arregloMensajesErrorCampoApellido.length > 0" class="alert alert-info" role="alert">
        <div *ngFor="let mensajeError of arregloMensajesErrorCampoApellido">
          <div>{{mensajeError}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 centrarlabel">
      <label for="funcion">Función</label>
    </div>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="funcion"
        aria-describedby="direccionlHelp"
        [formControlName]="'funcion'"
        placeholder="Ej. Desarrollador">
      <small id="funcionHelp" class="form-text text-muted">Ingrese la función que desenvolverá el participante</small>
      <div *ngIf="arregloMensajesErrorCampoFuncion.length > 0" class="alert alert-info" role="alert">
        <div *ngFor="let mensajeError of arregloMensajesErrorCampoFuncion">
          <div>{{mensajeError}}</div>
        </div>
      </div>
    </div>
  </div>
</form>
