* {
  font-family: 'Source Sans Pro', sans-serif;
}
.espacio {
  height: 5rem;
  visibility: hidden;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
}

a:link {
  text-decoration: none
}


