<div class="container">
  <form #forma="ngForm">
    <hr/>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Identificador</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <input
              type="text"
              pInputText
              class="form-control"
              id="id"
              [disabled]="true">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="width: 100%">
          <div class="col-sm-4" style="margin-top: 1rem">
            <button
              type="button"
              class="btn"
              data-toggle="tooltip"
              data-placement="top"
              title="Guardar"
              (click)="guardar()">
              <i class="fa fa-floppy-disk"></i>
            </button>
          </div>
          <div class="col-sm-4" style="margin-top: 1rem">
            <button
              data-toggle="tooltip"
              data-placement="top"
              title="Limpiar Formulario"
              type="button"
              class="btn"
              (click)="cancelar()">
              <i class="fa fa-ban"></i>
            </button>
          </div>
          <div class="col-sm-4" style="margin-top: 1rem">
            <button
              type="button"
              class="btn"
              id="eliminar"
              data-toggle="tooltip"
              data-placement="top"
              title="Eliminar"
              *ngIf="requerimientoSeleccionado" (click)="eliminar()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Descripción</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
             <textarea
               class="form-control"
               id="textarea1"
               rows="2"
               class="form-control"
             ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem"></div>
    <div class="row">
      <b class="text-center">Bloques Gameplay</b>
      <small class="text-center"><i>Haga click sobre el bloque para seleccionarlo</i></small>
      <div style="margin-top: 1rem"></div>
      <div>
        <app-bloques-game-play (devuelveDatos)="mostrarPostIt($event)" [bnd]="bandera"
                               [blockRec]="blockEnvio"></app-bloques-game-play>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-tabla-req-game-play (devuelveDatos)="recuperarSeleccionado($event)" [idProyecto]="idProyecto" [datos]="datos"></app-tabla-req-game-play>
  </div>
</div>
