<p-table
  [value]="requerimientos"
  [responsive]="true"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event)"
  [(selection)]="selectedRequerimiento"
  dataKey="id"
  styleClass="mt-3"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Descripción</th>
      <th class="text-center">Bloques</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-datoFila>
    <tr [pSelectableRow]="datoFila">
      <td class="text-center">
         {{datoFila['descripcion']}}
      </td>
      <td class="text-center">
        <div *ngFor="let pos of datoFila['requerimientoBloque']">
          <p>{{pos.bloque.nombre}}</p>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="3">
        No existe resultados
      </td>
    </tr>
  </ng-template>
</p-table>
