<header>
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-dark menu">
        <div class="justify-content-start order-0">
          <p class="menu">SOFTWARE REQUIREMENTS VALIDATION WEB APP</p>
        </div>
        <div class="justify-content-end order-1">
          <ul class="nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropbtn disabled" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false"><i class="fas fa-user"></i> {{nombreUsuario}}</a>
              <div class="dropdown-content">
                <button [routerLink]="['/perfil-usuario']" class="link-boton"><i class="fas fa-user-cog"></i> View profile
                </button>
                <button class="link-boton" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Sign off
                </button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
