<app-menu></app-menu>
<div class="container inicio">
  <toaster-container></toaster-container>
<div class="row justify-content-center">
  <div class="col-sm-3">
    <a href="#" [routerLink]="['/metodologia']">
    <app-tarjeta-modulo [nombreModulo]="'Metodología'" [descripcion]="'Revisa la netodología aplicada'" [nombreImagenModulo]="'metodologia.png'" ></app-tarjeta-modulo>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="#" [routerLink]="['/manual-usuario']">
    <app-tarjeta-modulo [nombreModulo]="'Manual de Usuario'" [descripcion]="'Tutorial de cómo utilizar la aplicación'" [nombreImagenModulo]="'manual.png'" ></app-tarjeta-modulo>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="#" [routerLink]="['/aplicacion']">
    <app-tarjeta-modulo [nombreModulo]="'Applicación'" [descripcion]="'Utiliza la herramienta de validación de requerimientos'" [nombreImagenModulo]="'aplicacion.png'" ></app-tarjeta-modulo>
    </a>
  </div>
 </div>
</div>
<app-footer></app-footer>
