<h1 mat-dialog-title class="text-center">UPLOAD PROJECT</h1>
<div mat-dialog-content>
  <app-importar-proyecto (proyectoACrearOEditar)="recibirProyecto($event)"
                                 (habilitarBotonSubmit)="habilitarBoton($event)"></app-importar-proyecto>
</div>
<div mat-dialog-actions class="justify-content-end">
    <button class="btn btn-info texto-blanco" [disabled]="!habilitarBotonSubmit" (click)="enviarDatos()">Upload
    </button>
    <button class="btn btn-outline-dark" style="margin-left: 0.5rem" (click)="cancelarModal()">Cancel</button>
</div>
