<div class="container">
  <!--  titulo gestion -->
  <div class="row separador">
    <div class="col-sm-12">
      <h1 style="text-align: center">Gestión de Participantes</h1>
    </div>
  </div>
  <!--  crear/buscar-->
  <div class="row separador-botton">
    <div class="col-sm-2">
      <!--<button class="btn btn-block btn-info" (click)="abrirModalCrear()" type="button">Crear</button>-->
      <button class="btn texto-blanco cienporcierto btn-info" (click)="abrirModalCrear()" type="button">Crear</button>
    </div>
    <div class="col-sm-10">
      <form [formGroup]="formularioBuscarParticipante" novalidate>
        <div class="row">
          <div class="col-sm-2" id="labelbusqueda">
            <label for="terminoBusqueda">Buscar: </label>
          </div>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="terminoBusqueda"
              [formControlName]="'terminoBusqueda'"
              placeholder="Ingrese su término de búsqueda">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  tabla-->
  <div class="row separador-top">
    <div class="col-sm-12">
      <p-table [responsive]="true" [value]="participantes"
               [paginator]="true"
               [lazy]="true"
               (onLazyLoad)="cargarMasDatos($event)"
               [totalRecords]="total"
               [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" *ngFor="let col of cols">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-participanteFila>
          <tr>
            <td *ngFor="let col of cols">
              <div *ngIf="col.field === 'nombre'">
                {{participanteFila[col.field]}}
              </div>
              <div *ngIf="col.field === 'apellido'">

                {{participanteFila[col.field]}}
              </div>
              <div *ngIf="col.field === 'funcion'">
                {{participanteFila[col.field] ? participanteFila[col.field] : 'Ninguna'}}
              </div>
              <div class="cienporcierto" *ngIf="col.field === 'id'">
                <button (click)="abrirModalEditar(participanteFila)"class="btn btn-info cienporcierto">
                  <i class="fa fa-pen texto-blanco"  aria-hidden="true"></i>
                </button>
                <button (click)="abrirModalEliminar(participanteFila)"class="btn btn-danger cienporcierto " style="margin-top: 0.5rem">
                  <i class="fa fa-trash texto-blanco" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="cols.length">
              No existe resultados
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>

