<div class="fondo-login">
  <div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 30vw; height: 100%; line-height: 5vh; margin-top: 5vh">
      <div class="card-header">
        <img
          width="50%"
          src="https://economia.epn.edu.ec/images/img/150.png">
      </div>
      <div class="card-body">
        <h2>Recover password</h2>
        <small class="text-center">Enter your username, a message will be sent to associated email</small>
          <div style="padding-top: 1.8rem"></div>
          <span class="p-float-label">
          <input
            style="width: 100%"
            id="nombreUsuario"
            type="text"
            aria-describedby="nombreUsuarioHelp"
            [(ngModel)]="nombreUsuario"
            pInputText>
          <label for="nombreUsuario">Username</label>
        </span>
          <div style="padding-top: 1rem"></div>
          <div>
            <button style="width: 100%" class="btn btn-login" (click)="enviarCorreo()">Send</button>
            <button style="width: 100%; margin-top: 0.5rem" class="btn btn-outline-dark" (click)="irALogin()" >Back</button>
          </div>
      </div>
    </div>
  </div>
</div>
