<h1 mat-dialog-title>Duplicar Registro</h1>
<div mat-dialog-content>
  <p>¿Esta seguro que desea duplicar este registro?</p>
<!--  <p *ngIf="registroDuplicar.nombre">Nombre: {{registroDuplicar.nombre}}</p>-->
</div>
<div mat-dialog-actions>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-info" (click)="enviarDatos()">Duplicar
    </button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-outline-dark" (click)="cancelarModal()">Cancelar</button>
  </div>
</div>

