<p>metodo-grafico-cliente works!</p>
<div class="container">
  <form  #forma="ngForm">
    <h3>Inicio de sesión - Formulario por template</h3>
    <hr />
    <div class="row">
      <div class="col">
        <label><b>ID</b></label>
        <input type="text" name="id" class="form-label" disabled>
      </div>
      <div class="col">
        <label><b>ROL</b></label>
        <input type="text" list="roles" (change)="cambioRol()" >
        <datalist id="roles">
          <option value="rol1"></option>
        </datalist>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label ><b>Titulo</b></label>
        <input
          type="text"
          placeholder="Introduzca el titulo del requerimiento"
          name="titulo"
          minlength="5"
          required
        />
      </div>
      <div class="col">
        <label><b>Prioridad</b></label>
        <label class="rating">
          <input id="radio1" type="radio" name="estrellas" value="3"><!--
    --><label class="radio" for="radio1">★</label><!--
    --><input id="radio2" type="radio" name="estrellas" value="2"><!--
    --><label class="radio" for="radio2">★</label><!--
    --><input id="radio3" type="radio" name="estrellas" value="1"><!--
    --><label class="radio" for="radio3">★</label>
        </label>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <label ><b>Descripcion</b></label>
        <textarea
          id="Textarea1"
          rows="2"
          class="form-control"
        ></textarea>
      </div>
    </div>
    <div>
      <label><b>Ideas relacionadas</b></label>
      <input hidden>
      <div>
        <app-post-it></app-post-it>
      </div>
    </div>
  </form>
</div>

