label.radio{
  color: grey;
}
input[type = "radio"]{ display:none;}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: center;
}

label.radio:hover,
label.radio:hover ~ label.radio {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
