<div id="met-client-graph" class="container">
  <form  #forma="ngForm">
    <hr/>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Identificador</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <input
              type="text"
              pInputText
              class="form-control"
              id="id"
              [disabled]="true">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Rol</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <p-dropdown
              name="selectRol"
              dataKey="rol"
              placeholder="Seleccione un rol"
              [options]="roles"
              [(ngModel)]="rolSeleccionado"
              [editable]="true"
              optionLabel="nombre"
              optionValue="id"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-4"  style="width: 100%">
            <b class="text-center">Padre</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <p-dropdown
              [virtualScroll]="true"
              name="selectPadre"
              dataKey="padre"
              placeholder="Seleccione un padre"
              [options]="datos"
              [(ngModel)]="reqPadreSeleccionado"
              [showClear]="true"
              [filter]="true"
              filterBy="descripcion"
              emptyMessage="Sin registros"
              emptyFilterMessage="Sin resultados"
              optionLabel="descripcion"
              optionValue="idRequerimiento"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row" style="width: 100%">
          <div class="col-sm-4" style="margin-top: 1rem">
            <button
              type="button"
              class="btn"
              data-toggle="tooltip"
              data-placement="top"
              title="Guardar"
              (click)="guardarRequerimiento()">
              <i class="fa fa-floppy-disk"></i>
            </button>
          </div>
          <div class="col-sm-4" style="margin-top: 1rem" >
            <button
              data-toggle="tooltip"
              data-placement="top"
              title="Limpiar Formulario"
              type="button"
              class="btn"
              (click)="cancelar()">
              <i class="fa fa-ban"></i>
            </button>
          </div>
          <div class="col-sm-4" style="margin-top: 1rem">
            <button
              type="button"
              class="btn"
              id="eliminar"
              data-toggle="tooltip"
              data-placement="top"
              title="Eliminar"
              *ngIf="requerimientoSeleccionado" (click)="eliminar()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 1rem"></div>
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Titulo</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <input
              type="text"
              class="form-control"
              placeholder="Introduzca el titulo del requerimiento"
              id="titulo"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Prioridad</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
            <p-rating
              name="prioridad"
              [cancel]="false"
              [stars]="3"
              [(ngModel)]="prioridad"></p-rating>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 1rem"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4" style="width: 100%">
            <b class="text-center">Descripción</b>
          </div>
          <div class="col-sm-8" style="width: 100%">
             <textarea
               class="form-control"
               id="textarea1"
               rows="2"
               class="form-control"
             ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem"></div>
    <div class="row">
      <b class="text-center">Ideas relacionadas</b>
      <div style="margin-top: 1rem"></div>
      <small class="text-center"><i>Haga doble click sobre la idea para eliminarla</i></small>
      <div>
        <app-post-it (devuelveDatos)="mostrarPostIt($event)" [bnd]="bandera" [blockRec]="blockEnvio"></app-post-it>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-tabla-req-bloque [idProyecto]="idProyecto" (devuelveDatos)="recuperarSeleccionado($event)" [datos]="datos"></app-tabla-req-bloque>
  </div>
</div>
