<p-dialog
  [modal]="true"
  [closable]="true"
  position="top"
  [(visible)]="display"
  [style]="{width: '40rem'}">
  <ng-template pTemplate="header">
    <p><b>{{dialogHeader}}</b></p>
  </ng-template>
  <p class="text-center">{{dialogContent}}</p>
</p-dialog>
<div class="container">
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Cliente">
    <ng-container>
      <div class="row">
        <div class="col-sm-12">
          <p-table
            [value]="requerimientosCliente"
            [columns]="colsCliente"
            [responsive]="true"
            [scrollable]="true"
            scrollDirection="both"
            styleClass="mt-3">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-center">
                <p class="text-center">Requerimientos de Cliente</p>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pFrozenColumn style="width: 8rem;" class="text-center">Identificador</th>
                <th pFrozenColumn style="width: 20rem;" class="text-center">Descripción</th>
                <th pFrozenColumn style="width: 6rem;" class="text-center">Prioridad</th>
                <th pFrozenColumn style="width: 6rem;" class="text-center">Padre</th>
                <th class="text-center" style="width: 8rem;" *ngFor="let col of colsCliente">
                  <a (click)="showDialog(col.header, 'C')">{{col.header}}</a>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-requerimientoFila>
              <tr>
                <td style="width: 8rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['idRequerimiento']}}
                </td>
                <td style="width: 20rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['descripcion']}}
                </td>
                <td style="width: 6rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['prioridad']| ldprioridadreq}}
                </td>
                <td style="width: 6rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['requerimientoPadre'] ? requerimientoFila['requerimientoPadre'] : 'Ninguno'}}
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #sinAmbiguedadCheck type="checkbox"  [checked]="requerimientoFila['resultado']['sinAmbiguedad']" (change)="cambiarSinAmbiguedad(sinAmbiguedadCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #factibleCheck type="checkbox"  [checked]="requerimientoFila['resultado']['factible']" (change)="cambiarFactible(factibleCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #correctoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['correcto']" (change)="cambiarCorrecto(correctoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #apropiadoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['apropiado']" (change)="cambiarApropiado(apropiadoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #verificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['verificable']" (change)="cambiarVerificable(verificableCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #completoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['completo']" (change)="cambiarCompleto(completoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #necesarioCheck type="checkbox"  [checked]="requerimientoFila['resultado']['necesario']" (change)="cambiarNecesario(necesarioCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #singularCheck type="checkbox"  [checked]="requerimientoFila['resultado']['singular']" (change)="cambiarSingular(singularCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #conformeCheck type="checkbox"  [checked]="requerimientoFila['resultado']['conforme']" (change)="cambiarConforme(conformeCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #consistenteCheck type="checkbox"  [checked]="requerimientoFila['resultado']['consistente']" (change)="cambiarConsistente(consistenteCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #modificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['modificable']" (change)="cambiarModificable(modificableCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #trazableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['trazable']" (change)="cambiarTrazable(trazableCheck.checked, requerimientoFila)">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="16" style="width: 136rem;">
                  No existe resultados
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="GamePlay" [disabled]="requerimientosGamePlay">
    <ng-container *ngIf="requerimientosGamePlay">
      <div class="row">
        <div class="col-sm-12">
          <p-table
            [value]="requerimientosGamePlay"
            [columns]="colsGamePlay"
            [responsive]="true"
            [scrollable]="true"
            scrollDirection="both"
            styleClass="mt-3">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-center">
                <p class="text-center">Requerimientos de GamePlay</p>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pFrozenColumn style="width: 8rem;" class="text-center">Identificador</th>
                <th pFrozenColumn style="width: 20rem;" class="text-center">Descripción</th>
                <th pFrozenColumn style="width: 12rem;" class="text-center">Bloques</th>
                <th class="text-center" style="width: 8rem;" *ngFor="let col of colsGamePlay">
                  <a (click)="showDialog(col.header, 'J')">{{col.header}}</a>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-requerimientoFila>
              <tr>
                <td style="width: 8rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['idRequerimiento']}}
                </td>
                <td style="width: 20rem;" pFrozenColumn class="text-center">
                  {{requerimientoFila['descripcion']}}
                </td>
                <td style="width: 12rem;" pFrozenColumn class="text-center">
                  <ul *ngFor="let bloqueReq of requerimientoFila['requerimientoBloque']">
                    <li>{{bloqueReq.bloque.nombre}}</li>
                  </ul>
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #completoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['completo']" (change)="cambiarCompleto(completoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #apropiadoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['apropiado']" (change)="cambiarApropiado(apropiadoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #correctoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['correcto']" (change)="cambiarCorrecto(correctoCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #necesarioCheck type="checkbox"  [checked]="requerimientoFila['resultado']['necesario']" (change)="cambiarNecesario(necesarioCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #verificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['verificable']" (change)="cambiarVerificable(verificableCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #factibleCheck type="checkbox"  [checked]="requerimientoFila['resultado']['factible']" (change)="cambiarFactible(factibleCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #sinAmbiguedadCheck type="checkbox"  [checked]="requerimientoFila['resultado']['sinAmbiguedad']" (change)="cambiarSinAmbiguedad(sinAmbiguedadCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #modificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['modificable']" (change)="cambiarModificable(modificableCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #singularCheck type="checkbox"  [checked]="requerimientoFila['resultado']['singular']" (change)="cambiarSingular(singularCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #trazableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['trazable']" (change)="cambiarTrazable(trazableCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #consistenteCheck type="checkbox"  [checked]="requerimientoFila['resultado']['consistente']" (change)="cambiarConsistente(consistenteCheck.checked, requerimientoFila)">
                </td>
                <td style="width: 8rem;" class="text-center">
                  <input class="form-check-input" #conformeCheck type="checkbox"  [checked]="requerimientoFila['resultado']['conforme']" (change)="cambiarConforme(conformeCheck.checked, requerimientoFila)">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="15" style="width: 136rem;">
                  No existe resultados
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
</div>
  <!--<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="requerimientos"
      [columns]="cols"
      [responsive]="true"
      [scrollable]="true"
      scrollDirection="both"
      styleClass="mt-3">
      <ng-template pTemplate="header">
        <tr>
          <th pFrozenColumn style="width: 8rem;" class="text-center">Identificador</th>
          <th pFrozenColumn style="width: 20rem;" class="text-center">Descripción</th>
          <th pFrozenColumn style="width: 6rem;" class="text-center">Prioridad</th>
          <th pFrozenColumn style="width: 6rem;" class="text-center">Padre</th>
          <th class="text-center" style="width: 8rem;" *ngFor="let col of cols">
            <a (click)="showDialog()">{{col.header}}</a>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-requerimientoFila>
        <tr>
          <td style="width: 8rem;" pFrozenColumn class="text-center">
            {{requerimientoFila['idRequerimiento']}}
          </td>
          <td style="width: 20rem;" pFrozenColumn class="text-center">
            {{requerimientoFila['descripcion']}}
          </td>
          <td style="width: 6rem;" pFrozenColumn class="text-center">
            {{requerimientoFila['prioridad']| ldprioridadreq}}
          </td>
          <td style="width: 6rem;" pFrozenColumn class="text-center">
            {{requerimientoFila['requerimientoPadre'] ? requerimientoFila['requerimientoPadre'] : 'Ninguno'}}
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #correctoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['correcto']" (change)="cambiarCorrecto(correctoCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #apropiadoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['apropiado']" (change)="cambiarApropiado(apropiadoCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #completoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['completo']" (change)="cambiarCompleto(completoCheck.checked, requerimientoFila)">
            </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #verificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['verificable']" (change)="cambiarVerificable(verificableCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #factibleCheck type="checkbox"  [checked]="requerimientoFila['resultado']['factible']" (change)="cambiarFactible(factibleCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #sinAmbiguedadCheck type="checkbox"  [checked]="requerimientoFila['resultado']['sinAmbiguedad']" (change)="cambiarSinAmbiguedad(sinAmbiguedadCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #singularCheck type="checkbox"  [checked]="requerimientoFila['resultado']['singular']" (change)="cambiarSingular(singularCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #trazableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['trazable']" (change)="cambiarTrazable(trazableCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #modificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['modificable']" (change)="cambiarModificable(modificableCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #consistenteCheck type="checkbox"  [checked]="requerimientoFila['resultado']['consistente']" (change)="cambiarConsistente(consistenteCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #conformeCheck type="checkbox"  [checked]="requerimientoFila['resultado']['conforme']" (change)="cambiarConforme(conformeCheck.checked, requerimientoFila)">
          </td>
          <td style="width: 8rem;" class="text-center">
            <input class="form-check-input" #necesarioCheck type="checkbox"  [checked]="requerimientoFila['resultado']['necesario']" (change)="cambiarNecesario(necesarioCheck.checked, requerimientoFila)">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">
            No existe resultados
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>-->

