<div class="row">
  <div class="col-sm-12">
    <p-table
      [value]="requerimientos"
      [columns]="cols"
      [responsive]="true"
      [scrollable]="true"
      scrollDirection="both"
      styleClass="mt-3">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-requerimientoFila>
        <tr>
          <td class="text-center">
            {{requerimientoFila['idRequerimiento']}}
          </td>
          <td class="text-center">
            {{requerimientoFila['descripcion']}}
          </td>
          <td class="text-center">
            {{requerimientoFila['prioridad']}}
          </td>
          <td class="text-center">
            {{requerimientoFila['requerimientoPadre'] ? requerimientoFila['requerimientoPadre'] : 'Ninguno'}}
          </td>
          <td class="text-center">
            <input class="form-check-input" #correctoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['correcto']" (change)="cambiarCorrecto(correctoCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #apropiadoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['apropiado']" (change)="cambiarApropiado(apropiadoCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #completoCheck type="checkbox"  [checked]="requerimientoFila['resultado']['completo']" (change)="cambiarCompleto(completoCheck.checked, requerimientoFila)">
            </td>
          <td class="text-center">
            <input class="form-check-input" #verificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['verificable']" (change)="cambiarVerificable(verificableCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #factibleCheck type="checkbox"  [checked]="requerimientoFila['resultado']['factible']" (change)="cambiarFactible(factibleCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #sinAmbiguedadCheck type="checkbox"  [checked]="requerimientoFila['resultado']['sinAmbiguedad']" (change)="cambiarSinAmbiguedad(sinAmbiguedadCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #singularCheck type="checkbox"  [checked]="requerimientoFila['resultado']['singular']" (change)="cambiarSingular(singularCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #trazableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['trazable']" (change)="cambiarTrazable(trazableCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #modificableCheck type="checkbox"  [checked]="requerimientoFila['resultado']['modificable']" (change)="cambiarModificable(modificableCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #consistenteCheck type="checkbox"  [checked]="requerimientoFila['resultado']['consistente']" (change)="cambiarConsistente(consistenteCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #conformeCheck type="checkbox"  [checked]="requerimientoFila['resultado']['conforme']" (change)="cambiarConforme(conformeCheck.checked, requerimientoFila)">
          </td>
          <td class="text-center">
            <input class="form-check-input" #necesarioCheck type="checkbox"  [checked]="requerimientoFila['resultado']['necesario']" (change)="cambiarNecesario(necesarioCheck.checked, requerimientoFila)">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">
            No existe resultados
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-outline-dark" (click)="refinar()">Refinar</button>
  </div>
</div>


